@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Classic</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="@Url.Action("GettingStarted", "Classic")">GettingStarted</a></li>
            <li class="list-group-item"><a href="@Url.Action("GetMoreLibraries", "Classic")">GetMoreLibraries</a></li>
        </ul>
        <h2>Revealing Module</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="@Url.Action("GettingStarted", "Module")">GettingStarted</a></li>
            <li class="list-group-item"><a href="@Url.Action("GetMoreLibraries", "Module")">GetMoreLibraries</a></li>
        </ul>
    </div>
</div>