@model SurveyModel
<div class="Survey">
    <h3>Was this page helpfull?</h3>
    <p>Please select option:</p>
    <p>
        <button id="YesButton" class="btn btn-default" data-url="@Url.Action("Update", "Survey")" data-id="@Model.PageId" data-value="Yes">Yes</button>
        <button id="NoButton" class="btn btn-default" data-url="@Url.Action("Update", "Survey")" data-id="@Model.PageId" data-value="No">No</button>
    </p>
    <p id="SurveyMessage"></p>
</div>